/*
/*/
!.gitignore
!README.md

# Global git configuration file
!.gitconfig

# General configuration files related to TU Delft's HPC12 system
!.bash_profile
!.bash_aliases
!.bashrc

# Vim configuration file
!.vimrc
